body {
    display: flex;
    flex-direction: column;
}

h1, h5 {
    margin: 5px;
}

input {
    margin: 5px;
    width: 200px;
}

#clearButton, #addButton, #lightDarkModeButton {
    width: 200px;
    background-color: darkolivegreen;
    color: wheat;
}

button {
    margin: 5px;
    
}

.darkmode {
    background-color: black;
    color: white;
}