body {
    display: flex;
    flex-direction: column;
}

h1, h5 {
    margin: 5px;
}

input {
    margin: 5px;
    width: 200px;
    color: purple;
}

#clearButton, #addButton {
    
    background-color: purple;
    color: white;
}

#addButton, #clearButton {
    margin: 5px; 
    width: 200px;
}

#lightDarkModeButton {
    background-color: black;
    color: white;
    margin: 5px;
    width: 100px;
}

.darkmode {
    background-color: black;
    color: white;
    #lightDarkModeButton, input {
        background-color: white;
        color: purple;
    }

}