body {
    display: flex;
    flex-direction: column;
    justify-self: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: purple;
}

input, button {
    margin: 5px;
    width: 200px;
    color: purple;
}