.listing {
    border: 1px solid darkolivegreen;
    padding: 10px;
    border-radius: 5px;
    width: 355px;
    background-color: darkolivegreen;
    transition: transform 0.5s;
  }
  
  .listing:hover {
    transform: scale(1.1);
  }